body {
    font-family: Cambria;
    border: 1px solid;
}
h3 {
    font-family: Arial;
    background-color: aqua;
    margin-bottom: 7px;
}
img {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 20px;
}