.curriculum {
    font-family: Cambria;
    float: inline-end;
}
.curriculum h3 {
    font-family: Arial;
    background-color: #4CAF50;
    margin-bottom: 7px;
}
.curriculum img {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}
.menu {
    float: left;
    display:flex;
    height: 500px;
    flex-direction: column;
    margin-bottom:10px;
}
.menu a {
    background-color: aqua;
    color: black;
    padding: 15px;
    display: block;
    text-decoration: none;
    font-size: 25px;
}
  
.menu a:hover {
    background-color: #4CAF50;
}
