<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><img src="../../../assets/images/cinemania.png" width="240"></li>
        </ul>
        <ul class="right">
            <li><a href="">Mis alquileres</a></li>
            <!-- <li><a class="waves-effect waves-light btn-small">Iniciar sesión
                <i class= "material-icons">keyboard_tab</i>
            </a></li> -->
            <li>
                <button class="waves-effect waves-light btn-small" mat-raised-button (click)="openDialog()">Iniciar
                sesión</button>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>