    * {
        box-sizing: border-box;
    }
    .cuadro {
        border: 1px solid;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        box-sizing: border-box;
    }
    .row {
        border: 1px solid;
        display:flex;
        flex-wrap: wrap;
        align-items:center; 
        justify-content: center;
        flex-direction: row;
    }
    .column {
        border: 1px solid;
        display:flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }
    #imagen {
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .columnFoto {
        border: 1px solid;
        display:flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }

    .column img {
        width: 30px;
        height: 30px;
    }

    @media only screen and (max-width: 800px) {
        .columnFoto {
            display: none;
        }
        .row {
            flex-direction: column;
        }
        .column {
            width: 100%;
        }
     }