<h2 mat-dialog-title>Iniciar sesión</h2>
<div mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="example@example.com">
        </mat-form-field>
        <br><br>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Introduzca contraseña...">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button class="waves-effect waves-light btn-small" mat-raised-button (click)="save()">Iniciar sesión</button>
</div>
<br><br>
<a href="#">¿No tienes cuenta? Pulsa aquí para registrarte</a>
